.statisticsTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.tableHead {
  color: #fbfbfb;
  box-shadow: 0px 4px 60px 0px #00000040;
  backdrop-filter: blur(50px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  position: relative;
}

.tableHead:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #523b7e99;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: -1;
}

.tableRow {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.end {
  text-align: end !important;
}

.expensesTotal {
  color: #ff5c5c !important;
}

.incomeTotal {
  color: #ffae42 !important;
}

.statisticsTable th,
.statisticsTable td {
  padding: 8px 15px;
  text-align: left;
}

.statisticsTable th {
  font-weight: bold;
  color: #ffffff;
  opacity: 0.7;
  padding: 17px;
}

.statisticsTable tbody tr td:first-child {
  display: flex;
  align-items: center;
}

.colorBox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 10px;
}

.totalRow,
.incomeRow {
  font-weight: bold;
}

.totalRow td,
.incomeRow td {
  color: #ffffff;
}

.summary {
  padding-top: 15px;
  border-top: 1px solid #ffffff33;
}

.expensesAmount,
.incomeAmount {
  font-weight: bold;
  color: #ffffff;
}
